{% extends 'info/base.html' %}
{% block content %}
    

{% load static %}

<div class="container mt-4" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'add_class' request.user.teacher.id %}" class="btn btn-primary">Add</a>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </div>
</div>
<div class="container mt-4">
    <table class="table">
        <thead>
            <tr>
                <th>No.</th>
                <th>Department</th>
                <th>Batch</th>
                <th>Section</th>
                <th>Day</th>
                <th>Subject</th>
                <th>Class Start</th>
                <th>Class End</th>
                <th>Room No.</th>
                <th>Teacher</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for class_detail in class_details %}
            <tr>
                <td></td>
                
                <td>{{ class_detail.department }}</td>
                <td>{{ class_detail.batch }}</td>
                <td>{{ class_detail.section }}</td>
                <td>{{ class_detail.day }}</td>
                <td>{{ class_detail.classSubject }}</td>
                <td>{{ class_detail.classStart }}</td>
                <td>{{ class_detail.classEnd }}</td>
                <td>{{ class_detail.classRoom }}</td>
                <td>{{ class_detail.teacherInit }}</td>
                <td class="action-buttons">
                    <a href="{% url 'view_class' teacher_id=request.user.teacher.id class_id=class_detail.id %}" class="btn btn-primary">View</a>
                    <a href="{% url 'edit_class' teacher_id=request.user.teacher.id class_id=class_detail.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete_class' teacher_id=request.user.teacher.id class_id=class_detail.id %}" class="btn btn-danger">Delete</a>

                    
                </td>               
            </tr>
            {% endfor %}
        
        </tbody>
    </table>
    
   
    <!--
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
        <div class="pagination">
            <ul class="pagination-list">
                {% for num in page_obj.paginator.page_range %}
                    <li class="pagination-item">
                        <a href="?page={{ num }}" class="pagination-link {% if num == page_obj.number %}active{% endif %}">
                            <div class="page-number-box {% if num == page_obj.number %}active{% endif %}">
                                {{ num }}
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
    </div>-->
</div>


{% endblock %}
