{% extends 'info/base.html' %}
{% block content %}
    

{% load static %}


    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title">
          <span class="page-title-icon bg-gradient-primary text-white me-2">
            <i class="mdi mdi-calendar-multiple-check"></i>
          </span> Class Details
        </h3>
      </div>
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="col-md-4">

                <form>
                <a href="{% url 'add_class' request.user.teacher.id %}" class="btn btn-gradient-primary btn-fw">Add</a>
              </div>
            </form>
              
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Department</th>
                    <th>Batch</th>
                    <th>Section</th>
                    <th>Day</th>
                    <th>Subject</th>
                    <th>Class Start</th>
                    <th>Class End</th>
                    <th>Room No.</th>
                    <th>Teacher</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for class_detail in class_details %}
                  <tr>

                    <td>{{ forloop.counter }}</td>
                    <td>{{ class_detail.department }}</td>
                    <td>{{ class_detail.batch }}</td>
                    <td>{{ class_detail.section }}</td>
                    <td>{{ class_detail.day }}</td>
                    <td>{{ class_detail.classSubject }}</td>
                    <td>{{ class_detail.classStart }}</td>
                    <td>{{ class_detail.classEnd }}</td>
                    <td>{{ class_detail.classRoom }}</td>
                    <td>{{ class_detail.teacherInit }}</td>
                    <td class="action-buttons">
                      <a href="{% url 'view_class' teacher_id=request.user.teacher.id class_id=class_detail.id %}">
                        <img src="{% static 'assets/images/actions/view.png' %}" alt="Student Companion" /></a>
                      <a href="{% url 'edit_class' teacher_id=request.user.teacher.id class_id=class_detail.id %}">
                        <img src="{% static 'assets/images/actions/edit.png' %}" alt="Student Companion"/></a>
                      <a href="{% url 'delete_class' teacher_id=request.user.teacher.id class_id=class_detail.id %}">
                      <img src="{% static 'assets/images/actions/trash.png' %}" alt="Student Companion" /></a>


                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  
  <!-- main-panel ends -->



{% endblock %}
