<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Login</title>

  {% load static %}

  <!-- Bootstrap core CSS -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'info/icons/favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'info/bootstrap/loginvendor/bootstrap/css/bootstrap.min.css' %}">
  <link href="{% static '/info/bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'info/font-awesome-4.7.0/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'info/bootstrap/css/material-design-iconic-font.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'info/bootstrap/loginvendor/animate/animate.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'info/bootstrap/loginvendor/css-hamburgers/hamburgers.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'info/bootstrap/loginvendor/animsition/css/animsition.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'info/bootstrap/loginvendor/select2/select2.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'info/bootstrap/css/loginmain.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'info/bootstrap/css/loginutil.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto:400,700&display=swap">

  <!-- Custom fonts for this template -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" rel="stylesheet">
  <style>

    body{
      font-family: 'Inconsolata', monospace;
  }
    .login100-form-title {
       
      font-size: 36px;

  }

    .wrap-input100 label {
      font-family: 'Poppins', sans-serif;
    }
    .label-input100 {
      font-size: 17px; /* Increase font size */
  }

    .input100 {
      font-size: 17px; /* Increase font size */
  }

    .focus-input100 {
      font-size: 110px; /* Increase font size */
  }

  </style>

  <!-- Custom styles for this template -->

</head>
<body>
  <div class="limiter">
    <div class="container-login100" style="background-image: url('{% static 'info/images/loginbg-01.jpg' %}');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form" method="post">
                {% csrf_token %}
                <span class="login100-form-title p-b-49">
                   Admin Login
                </span>
                
                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is required">
                    <span class="label-input100">Username</span>
                    <input class="input100" type="text" id="username" name="username" placeholder="Type your username">
                    <span class="focus-input100" data-symbol="&#xf206;" ></span>
                </div>
                
                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="password" id="password" name="password" placeholder="Type your password">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>
                
                <div class="text-right p-t-8 p-b-31">
                    <a href="#"></a>
                </div>
                
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">Login</button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>

<div id="dropDownSelect1"></div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static '/info/bootstrap/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'info/bootstrap/loginvendor/jquery/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static '/info/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'info/bootstrap/loginvendor/bootstrap/js/bootstrap.min.js' %}"></script>
  

  <!-- Core plugin JavaScript -->
  <script src="{% static '/info/bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <!--Log in JS-->
  <script src="{% static 'info/bootstrap/loginvendor/animsition/js/animsition.min.js' %}"></script>
  <script src="{% static 'info/bootstrap/loginvendor/bootstrap/js/popper.js' %}"></script>
  <script src="{% static 'info/bootstrap/loginvendor/select2/select2.min.js' %}"></script>
  <script src="{% static 'info/bootstrap/loginvendor/daterangepicker/moment.min.js' %}"></script>
  <script src="{% static 'info/bootstrap/loginvendor/daterangepicker/daterangepicker.js' %}"></script>
  <script src="{% static 'info/bootstrap/loginvendor/countdowntime/countdowntime.js' %}"></script>
  <script src="{% static 'info/bootstrap/js/loginmain.js' %}"></script>




</body>

</html>
