{% extends 'info/base.html' %}
{% block content %}
    

{% load static %}


    
      <div class="page-header">
        <h3 class="page-title">
          <span class="page-title-icon bg-gradient-primary text-white me-2">
            <i class="mdi mdi-calendar-multiple-check"></i>
          </span> Bus days
        </h3>
      </div>
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="col-md-4">
          

          </div>
              <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>No</th>
                      <th>Day</th>
                      <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for day in day_objects %}
                    <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ day.day }}</td>
                    <td class="action-buttons">
                      <button onclick="toggleRoute('{{ day.id }}')">Toggle Route</button>
                  </td>
                    </tr>
                    {% endfor %}
                </tbody>
                  
                  </table>
            </div>
            </div>
          </div>
        </div>
      </div>

      
      <script>
        function toggleRoute(dayId) {
            var currentURL = window.location.pathname;
            var currentRoute = currentURL.includes('uproute') ? 'uproute' : 'downroute';
            var newRoute = currentRoute === 'uproute' ? 'uproute' : 'downroute';
        
            // Check if the current URL already contains a routetype
            if (currentURL.includes('uproute') || currentURL.includes('downroute')) {
                // Replace the current routetype with the new routetype
                currentURL = currentURL.replace(currentRoute, newRoute);
            } else {
                // Add the new routetype to the URL
                currentURL = currentURL + newRoute;
            }
        
            // Build the new URL with the updated routetype and dayId
            var newURL = currentURL + dayId + '/';
        
            // Redirect to the new URL
            window.location.href = newURL;
        }
        </script>

  
  <!-- main-panel ends -->



{% endblock %}
